<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SaglikNetLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="sagliknetlib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <microsoft.web.services3>
    <policy fileName="wse3policyCache.config" />
  </microsoft.web.services3>
  <applicationSettings>
    <SaglikNetLib.Properties.Settings>
      <setting name="SaglikNetLib_WebReference_Muayene_MCCI_AR000001TR_Service"
        serializeAs="String">
        <value>http://ws.sagliknet.saglik.gov.tr/Muayene/services/MCCI_AR000001TR_Service</value>
      </setting>
    </SaglikNetLib.Properties.Settings>
    <sagliknetlib.Properties.Settings>
      <setting name="sagliknetlib_WebReference_Muayene_MCCI_AR000001TR_Service"
        serializeAs="String">
        <value>http://ws.sagliknet.saglik.gov.tr/Muayene/services/MCCI_AR000001TR_Service</value>
      </setting>
    </sagliknetlib.Properties.Settings>
  </applicationSettings>
</configuration>