<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SaglikNetLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <microsoft.web.services3>
    <policy fileName="wse3policyCache.config" />
  </microsoft.web.services3>
  <applicationSettings>
    <SaglikNetLib.Properties.Settings>
      <setting name="SaglikNetLib_WSVatandasYabanciHastaKayit_MCCI_AR000001TR_Service"
        serializeAs="String">
        <value>http://ws.sagliknet.saglik.gov.tr/VatandasYabanciKayit/services/MCCI_AR000001TR_Service</value>
      </setting>
      <setting name="SaglikNetLib_WSMuayene_MCCI_AR000001TR_Service"
        serializeAs="String">
        <value>http://ws.sagliknet.saglik.gov.tr/Muayene/services/MCCI_AR000001TR_Service</value>
      </setting>
      <setting name="SaglikNetLib_WS1549YasKadinIzlem_MCCI_AR000001TR_Service"
        serializeAs="String">
        <value>http://ws.sagliknet.saglik.gov.tr/KadinIzlem/services/MCCI_AR000001TR_Service</value>
      </setting>
      <setting name="SaglikNetLib_WSAgizVeDisSagligi_MCCI_AR000001TR_Service"
        serializeAs="String">
        <value>http://ws.sagliknet.saglik.gov.tr/AgizveDisSagligi/services/MCCI_AR000001TR_Service</value>
      </setting>
      <setting name="SaglikNetLib_WSAsi_MCCI_AR000001TR_Service" serializeAs="String">
        <value>http://ws.sagliknet.saglik.gov.tr/Asi/services/MCCI_AR000001TR_Service</value>
      </setting>
      <setting name="SaglikNetLib_WSBebekCocukBeslenme_MCCI_AR000001TR_Service"
        serializeAs="String">
        <value>http://ws.sagliknet.saglik.gov.tr/BebekCocukBeslenme/services/MCCI_AR000001TR_Service</value>
      </setting>
      <setting name="SaglikNetLib_WSBebekCocukIzlem_MCCI_AR000001TR_Service"
        serializeAs="String">
        <value>http://ws.sagliknet.saglik.gov.tr/BebekCocukIzlem/services/MCCI_AR000001TR_Service</value>
      </setting>
      <setting name="SaglikNetLib_WSBebekCocukPsikososyalIzlem_MCCI_AR000001TR_Service"
        serializeAs="String">
        <value>http://ws.sagliknet.saglik.gov.tr/BebekCocukPsikososyalIzlem/services/MCCI_AR000001TR_Service</value>
      </setting>
      <setting name="SaglikNetLib_WSBulasiciHastalikKesinVakaBildirimi_MCCI_AR000001TR_Service"
        serializeAs="String">
        <value>http://wws.sagliknet.saglik.gov.tr/BulasiciHastalikKesinVakaBildirimi/services/MCCI_AR000001TR_Service</value>
      </setting>
      <setting name="SaglikNetLib_WSBulasıcıHastalikOlasiVakaBildirimi_MCCI_AR000001TR_Service"
        serializeAs="String">
        <value>http://ws.sagliknet.saglik.gov.tr/BulasiciHastalikOlasiVakaBildirimi/services/MCCI_AR000001TR_Service</value>
      </setting>
      <setting name="SaglikNetLib_WSDiyabet_MCCI_AR000001TR_Service"
        serializeAs="String">
        <value>http://ws.sagliknet.saglik.gov.tr/Diyabet/services/MCCI_AR000001TR_Service</value>
      </setting>
      <setting name="SaglikNetLib_WSDiyalizBildirim_MCCI_AR000001TR_Service"
        serializeAs="String">
        <value>http://ws.sagliknet.saglik.gov.tr/DiyalizBildirim/services/MCCI_AR000001TR_Service</value>
      </setting>
      <setting name="SaglikNetLib_WSDiyalizIzlem_MCCI_AR000001TR_Service"
        serializeAs="String">
        <value>http://ws.sagliknet.saglik.gov.tr/DiyalizIzlem/services/MCCI_AR000001TR_Service</value>
      </setting>
      <setting name="SaglikNetLib_WSDogumBildirim_MCCI_AR000001TR_Service"
        serializeAs="String">
        <value>http://ws.sagliknet.saglik.gov.tr/DogumBildirim/services/MCCI_AR000001TR_Service</value>
      </setting>
      <setting name="SaglikNetLib_WSGebeIzlem_MCCI_AR000001TR_Service"
        serializeAs="String">
        <value>http://ws.sagliknet.saglik.gov.tr/GebeIzlem/services/MCCI_AR000001TR_Service</value>
      </setting>
      <setting name="SaglikNetLib_WSGebePsikososyalIzlem_MCCI_AR000001TR_Service"
        serializeAs="String">
        <value>http://ws.sagliknet.saglik.gov.tr/GebePsikososyalIzlem/services/MCCI_AR000001TR_Service</value>
      </setting>
      <setting name="SaglikNetLib_WSGebelikSonucu_MCCI_AR000001TR_Service"
        serializeAs="String">
        <value>http://ws.sagliknet.saglik.gov.tr/GebelikSonucu/services/MCCI_AR000001TR_Service</value>
      </setting>
      <setting name="SaglikNetLib_WSHastaOzlukBilgileri_MCCI_AR000001TR_Service"
        serializeAs="String">
        <value>http://ws.sagliknet.saglik.gov.tr/HastaOzlukBilgileri/services/MCCI_AR000001TR_Service</value>
      </setting>
      <setting name="SaglikNetLib_WSKanser_MCCI_AR000001TR_Service"
        serializeAs="String">
        <value>http://ws.sagliknet.saglik.gov.tr/Kanser/services/MCCI_AR000001TR_Service</value>
      </setting>
      <setting name="SaglikNetLib_WSLohusaIzlem_MCCI_AR000001TR_Service"
        serializeAs="String">
        <value>http://ws.sagliknet.saglik.gov.tr/LohusaIzlem/services/MCCI_AR000001TR_Service</value>
      </setting>
      <setting name="SaglikNetLib_WSOlumBildirim_MCCI_AR000001TR_Service"
        serializeAs="String">
        <value>http://ws.sagliknet.saglik.gov.tr/OlumBildirim/services/MCCI_AR000001TR_Service</value>
      </setting>
      <setting name="SaglikNetLib_WSTetkikSonucu_MCCI_AR000001TR_Service"
        serializeAs="String">
        <value>http://ws.sagliknet.saglik.gov.tr/TetkikSonucu/services/MCCI_AR000001TR_Service</value>
      </setting>
      <setting name="SaglikNetLib_WSVatansizHastaKayit_MCCI_AR000001TR_Service"
        serializeAs="String">
        <value>http://ws.sagliknet.saglik.gov.tr/VatansizKayit/services/MCCI_AR000001TR_Service</value>
      </setting>
      <setting name="SaglikNetLib_WSYatanHasta_MCCI_AR000001TR_Service"
        serializeAs="String">
        <value>http://ws.sagliknet.saglik.gov.tr/YatanHasta/services/MCCI_AR000001TR_Service</value>
      </setting>
      <setting name="SaglikNetLib_WSYenidoganHastaKayit_MCCI_AR000001TR_Service"
        serializeAs="String">
        <value>http://ws.sagliknet.saglik.gov.tr/YenidoganKayit/services/MCCI_AR000001TR_Service</value>
      </setting>
    </SaglikNetLib.Properties.Settings>
  </applicationSettings>
</configuration>